*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    height: 54px;
    width: 100%;
    background-color: #F6F6F6FF;
    color: #000000;
    display: flex;
    justify-content: space-between;
    
    
}
.n{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
.logo1{
    width: 200px;
    height: 100px;
    font-size: 30px;
    margin-left: 32px;
    text-decoration: none;
    color: #000;

}
.nav__block{
    display: flex;
    list-style-type: none;
    
}
.nav{
    font-size:20px;
    padding: 5px;
}
.search{
   
    border-radius: 2%;
}
.svg{
    height: 20px;
    width: -8px;
    color: #000;
}
.svg1{
    text-align: center;
    width: 200px;
    color: #000;
}
.h{
    text-align: center;
    margin-top: 2rem;
}
.div1{
    display: flex;
    justify-content: center;
}
.p1{
    color: #000;
    padding: 35px;
    text-decoration: solid;
    letter-spacing: .25rem;
    font-size: 1.625rem;
}
.a1{
    text-decoration: none;
}
.div2{
    height: 186.096px;
    width: 92%;
}
.div22{
    display: flex;
    justify-content: space-evenly;

}

.div222{
    width: 181.2976px;
    height: 200.068px;
    padding: 10px;
}
.p2{
    margin-bottom: -30px;
    margin-left: 142px;
    font-size: 30px;
    letter-spacing: .25rem;
}
.img222{
    width: 160.2976px;
    height: 144px;
    background-color: red;
    border-radius: 57%;
}
.p222{
    text-align: center;
    text-transform: uppercase;
}
.div3{ 
    padding: 24px;
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
}
.img3{
    margin-left: 45px;
    
}
.img333{
    width: 800px;
    height: 414px;
}
/* .btn-svg{
    width: 14px;
    height: 15px;
    background-color: black;
    border-radius: 100%;
    margin-top: -16px;
    margin-left: 13px;
} */
.div3333{
    font-size: 1.625rem;
    letter-spacing: .25rem;
    line-height: 1.2;
    font-family: var(--theme-font-family);
}
.btn{
    display: flex;
    font-size: 1.75rem;
    text-decoration: none;
    justify-content: center;
    margin-top: 27px;
}
.p333{
   color: #000;
   width: 138px;
   margin: 25px;
   height: 53px ;
   border-radius: 6%;

}
.div4{
    width: 84%;
    height: 800px;
    margin-left: 143px;

}
.div44{
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    
}
.div444{
    width: 29%;
    height: 800px;
    /* background-color: #000; */
}
.img4{
    width: 100%;
    height: 600px;
}
.p4{
    font-size: 41px;
    margin: auto;
}
.text{
    margin: auto;
}
#pp{
    width: 93px;
    border: none;
}
#pp1{
    width: 93px;
    border: none;
}
#pp2{
    width: 93px;
    border: none;
}
#btninput{
    width: 21px;
    height: 24px;
    font-size: 17px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 93%;
    margin-left: -19px;
}